<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>            <string>SnapRescale</string>
    <key>CFBundleDisplayName</key>     <string>SnapRescale</string>
    <key>CFBundleIdentifier</key>      <string>com.phierru.SnapRescale</string>
    <key>CFBundleExecutable</key>      <string>SnapRescale</string>
    <key>CFBundlePackageType</key>     <string>APPL</string>
    <key>CFBundleVersion</key>         <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleShortVersionString</key> <string>$(MARKETING_VERSION)</string>
    <key>LSMinimumSystemVersion</key>  <string>26.0</string>
    <key>NSHighResolutionCapable</key> <true/>
    <key>NSHumanReadableCopyright</key><string>© 2026 Francesco Lardieri. MIT licence.</string>
    <key>LSApplicationCategoryType</key><string>public.app-category.photography</string>
    <key>ITSAppUsesNonExemptEncryption</key><false/>
    <key>CFBundleIconName</key><string>AppIcon</string>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key>
            <dict><key>default</key> <string>Resize with SnapRescale</string></dict>
            <key>NSMessage</key>       <string>resizeImage</string>
            <key>NSPortName</key>      <string>SnapRescale</string>
            <key>NSSendFileTypes</key>
            <array><string>public.image</string></array>
            <key>NSSendTypes</key>
            <array><string>public.file-url</string></array>
        </dict>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>   <string>Image</string>
            <key>CFBundleTypeRole</key>   <string>Viewer</string>
            <key>LSHandlerRank</key>      <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array><string>public.image</string></array>
        </dict>
    </array>
</dict>
</plist>
